@model project.Models.LoginViewModel
@{
    ViewData["Title"] = "Вход";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Login" method="post">
    <table>
        <tr>
            <th>
                <label asp-for="UserName"></label>
            </th>
            <td>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for="Password"></label>
            </th>
            <td>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
            
        </tr>
    </table>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe"></label>
    </div>

    <button type="submit">Войти</button>
</form>

<p>
    Нет аккаунта? <a asp-action="Register">Зарегистрироваться!</a>
</p>
