@model project.Models.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>

<p>
    Уже есть аккаунт? <a asp-action="Login">Войти</a>
</p>
